{% extends 'home.html' %}
{% block content %}

<header id="portfolio">
  <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
  <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
  <div class="w3-container">
  <h1><b> ดาวน์โหลดเอกสาร </b></h1>
  <div class="w3-section w3-bottombar w3-padding-16">
   
    <span class="w3-margin-right">Filter:</span> 
    <button class="w3-button w3-white"><i class="fa fa-plus w3-margin-right"></i>นักศึกษา</button>
    <button class="w3-button w3-white w3-hide-small"><i class="fa fa-plus w3-margin-right"></i>สถานประกอบการ</button>
    <button class="w3-button w3-white w3-hide-small"><i class="fa fa-plus w3-margin-right"></i>แบบประเมิน</button>
  </div>
  </div>  

</header>



<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <p><b>FM 10-11</b></p>
        <p>แบบบันทึกการนิเทศงานสหกิจศึกษา<br><br><br>
        <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-11_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9A%E0%B8%B1%E0%B8%99%E0%B8%97%E0%B8%B6%E0%B8%81%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%99%E0%B8%B4%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.doc" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>DOC</a>
        <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-11_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9A%E0%B8%B1%E0%B8%99%E0%B8%97%E0%B8%B6%E0%B8%81%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%99%E0%B8%B4%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.pdf" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>PDF</a>
        </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>FM 10-12</b></p>
          <p>แบบประเมินผลการปฏิบัติงาน <br>สำหรับสถานประกอบการแบบประเมินผลการปฏิบัติงาน สำหรับสถานประกอบการ<br>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-12_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%9C%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%87%E0%B8%B2%E0%B8%99%20%E0%B8%AA%E0%B8%B3%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%AD%E0%B8%9A%E0%B8%81%E0%B8%B2%E0%B8%A3.doc" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>DOC</a>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-12_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%9C%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%87%E0%B8%B2%E0%B8%99%20%E0%B8%AA%E0%B8%B3%E0%B8%AB%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%AD%E0%B8%9A%E0%B8%81%E0%B8%B2%E0%B8%A3.pdf" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>PDF</a>
          </p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>FM 10-13</b></p>
          <p>แบบประเมินรายงานนักศึกษาสหกิจศึกษา<br><br><br>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-13_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.doc" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>DOC</a>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-13_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%A3%E0%B8%B2%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%99%E0%B8%B1%E0%B8%81%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.pdf" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>PDF</a>
          </p>
        </div>
      </div>
      
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>FM 10-20</b></p>
          <p>แบบประเมินคณาจารย์นิเทศจากสถานประกอบการ<br><br>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-20_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%84%E0%B8%93%E0%B8%B2%E0%B8%88%E0%B8%B2%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%99%E0%B8%B4%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B8%88%E0%B8%B2%E0%B8%81%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%AD%E0%B8%9A%E0%B8%81%E0%B8%B2%E0%B8%A3.doc" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>DOC</a>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-20_%E0%B9%81%E0%B8%9A%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A1%E0%B8%B4%E0%B8%99%E0%B8%84%E0%B8%93%E0%B8%B2%E0%B8%88%E0%B8%B2%E0%B8%A3%E0%B8%A2%E0%B9%8C%E0%B8%99%E0%B8%B4%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B8%88%E0%B8%B2%E0%B8%81%E0%B8%AA%E0%B8%96%E0%B8%B2%E0%B8%99%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%AD%E0%B8%9A%E0%B8%81%E0%B8%B2%E0%B8%A3.pdf" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>PDF</a>
          </p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
        <div class="w3-container w3-white">
          <p><b>FM 10-20</b></p>
          <p>สรุปข้อมูลการปฏิบัติงานสหกิจศึกษา<br><br><br>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-21_%E0%B8%AA%E0%B8%A3%E0%B8%B8%E0%B8%9B%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.doc" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>DOC</a>
          <a href="https://coop.kkc.rmuti.ac.th/cooperative/Upload/File/file_management/FM%2010-21_%E0%B8%AA%E0%B8%A3%E0%B8%B8%E0%B8%9B%E0%B8%82%E0%B9%89%E0%B8%AD%E0%B8%A1%E0%B8%B9%E0%B8%A5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%9B%E0%B8%8F%E0%B8%B4%E0%B8%9A%E0%B8%B1%E0%B8%95%E0%B8%B4%E0%B8%87%E0%B8%B2%E0%B8%99%E0%B8%AA%E0%B8%AB%E0%B8%81%E0%B8%B4%E0%B8%88%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2.pdf" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-file-word-o fa-fw w3-margin-right"></i>PDF</a>
          </p>
        </div>
      </div>
    <div class="w3-third w3-container">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
{% endblock %}   